.container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-medium);
  margin-bottom: var(--spacing-medium);
}

.filter {
  display: flex;
  flex-direction: column;
}

.input {
  padding: var(--spacing-small);
  border-radius: var(--border-radius);
  border: 1px solid #ccc;
}
